.container {
  margin-top: 50px;
}

img {
  max-height: 400px;
  width: 100%;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.book-ticket-btn {
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.book-ticket-btn:hover {
  background-color: #0069d9;
}
